

h1{
    text-align: center;
    background-color: #00008B;
    color: white;
    
}

 
.icon{
    
    
    display:block;
    margin:auto;
    width: 392px;
    height: 392px;
   
}

header{
    border-bottom: darkblue 3px solid;
    background-color: #00008B;
}

footer{
    
    text-align: center;
    background-color: #00008B;
    color: white;
}

.paginas{
    color: white;
}

h2{
    text-align: center;
}

form{
    display:block;
    margin:auto;
    width: 392px;
    height: 322px;
    
}

.form1{
    display:block;
    margin:auto;
    width: 392px;
    height: 392px;   
}
